<div class="contents row" >
    <% @tweets.each do |tweet| %>
      <%= render partial: "tweet", locals: { tweet: tweet } %>
      <!-- 右側の tweet はeachメソッド内の変数としてのtweetでtweetのインスタンス。 -->
      <!-- 左側の tweet は部分テンプレート内での変数の名前 -->
    <% end %>
  <%= paginate(@tweets) %>
</div>